<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.3" newVersion="7.0.0.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Binder" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.4" newVersion="7.0.0.4" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
	<appSettings>
		<!--<add key="serilog:minimum-level" value="Information" />
		<add key="serilog:minimum-level:override:Microsoft" value="Warning" />
		<add key="serilog:minimum-level:override:Microsoft.AspNetCore.Mvc" value="Error" />-->
		<add key="serilog:using:Console" value="Serilog.Sinks.Console" />		
		<add key="serilog:write-to:Console" />
		
		<add key="serilog:using:File" value="Serilog.Sinks.File" />
		<add key="serilog:write-to:File" />
		<add key="serilog:write-to:File.pathFormat" value="Logs/myapp-{Date}.txt" />
		<add key="serilog:write-to:File.retainedFileCountLimit" value="10" />


		<add key="serilog:using:EventLog" value="Serilog.Sinks.EventLog" />
		<add key="serilog:write-to:EventLog.source" value="SeriLogNetFrameWorkDemoApp" />
	</appSettings>
</configuration>